.scroll-wrapper {
  border-radius: 15px;
  overflow: hidden;
  max-height: 450px; 
}

.scroll-container {
  overflow-y: auto;
  height: 100%;
  padding-right: 10px; 
}

/* Scrollbar custom */
.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.modal-body-custom
{
  padding: 0 !important;
  border: none!important;
  padding: 0 4%  !important;
  /* font-style: italic; */
}

.modal-header-custom
{
  border-bottom: none;
  margin: 0;
  border: none !important;
}

.modal-footer-custom
{
  border-top: none;
  margin: 0;
  border: none !important;
}

form
{
  margin-top: 0;
  margin-top: 0 !important;
}