  /* bouton flottant */
 .floating-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #064bb4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }

  /* fond du modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: scroll;
  }
      
    .modal-content {
        /* background: white; */
        width: 90%;
        max-width: 500px;
        position: relative;
        /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
/* 
        .modal-content button.close-btn {
          position: absolute;
          top: 10px;
          right: 20px;
          background: none;
          border: none;
          font-size: 2rem;
          color: #666;
          cursor: pointer;
          z-index: 10;
        } */

        
        .contentz
        {
          border-radius: 15px;
          padding: 30px;
          background: white;
          
          img
          {
            width: 15%;
            float: left;
          }
        }

        form
        {
          margin-top: 10%;
          padding: 0!important;

          input,button
          {
            border-radius: 50px;
          }

          label
          {
            /* font-style: italic; */
            color: #064bb4;
          }

          select
          {
            border-radius: 50px;
          }

          button
          {
            width: 100%;
            padding: 2%;
            background: #064bb4;
            justify-content: center;
            color: white;
            border-radius: 50px;
            border: none;

            &:hover
            {
              background: #032252;
              color: white;
            }
          }

         
        }
      }
     

      