.vertical_carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: auto;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:  20px ;
}

.carousel_image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}


.slide {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%) scale(0.9);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 2;
}

/* Quand l'image a fini sa montée, elle redescend lentement */
@keyframes riseAndFall {
  0% {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }
  25% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }
}

.slide.active img {
  animation: riseAndFall 3.5s ease-in-out forwards;
}

.slide img {
  width: 85%;
  height: auto;
  object-fit: contain;
}
