.contact
{
  padding-top: 7%;
  padding-bottom: 2%;
  border-radius: 10px;
  /* background: whitesmoke; */

  .c_element
  {
    background: whitesmoke;
  }

  button
  {
    color: white;
    background: navy;
    border: solid navy 1px;

  }

}

.bg-image-fixed {
  background-image: url('../../assets/images/cfond.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  border-radius: 10px;
}
