html, body {
  overflow-x: hidden; 
}

.navbar .container {
  max-width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}

.navbar .container{
  transition: background 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  border-radius: 50px;
}

.navbar.scrolled .container{
  background: whitesmoke;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.btn-icn
{
  color: navy;
  font-size: large;
}


.btn.connexion {
  color: navy;
  text-decoration: none;
  padding: 3px;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.btn-connexion:hover {
  background-color: navy;
  color: white;
}


.user_modal
{
  background: #000;
  position: absolute;

  transform: translateY(10px); /* petit décalage visuel */
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.1%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
  left: 86%;
  top: 3rem;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: .5%;
  
  .profil
  {
    justify-content: center;
    color: gray;
    text-decoration: none;
  }

  .dec
  {
    border: none;
    background: none;
    padding: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(0); }
  to { opacity: 1; transform: translateY(10px); }
}



@media (max-width: 576px) {
  .btn-connexion {
    padding: 4px 5px;
    font-size: 1rem;
    align-items: center;
  }
}

#lk
{
  color: black;
  font-family: monospace;
}

.logo {
  width: 80px;
  height: 50px;
  margin-right: 10px;
}

.nav-link.active {
  position: relative;
  font-weight: bold;
  color: navy !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: navy;
  border-radius: 50%;
}


@media (max-width: 576px) {
  .navbar .container {
    border-radius: 0;   /* ✅ évite que ça dépasse */
    width: 100%;
    padding: 0 5px;
  }

  .s-btn
  {
    align-items: center;
    justify-content: center;
  }
}







@media (max-width: 576px)
{
  .logo
  {
    width: 50px;
    height: 30px;
  }

  .navbar .container {
    border-radius: 10px;
    backdrop-filter: blur(5px);
    align-items: center;
    text-align: center;
    justify-content: center;

    form
    {
      padding: 1% 2%;
    }

  }


  .navbar-toggler {
    padding: 0.25rem 0.5rem !important;
    }

  .navbar-toggler-icon {
    width: 18px !important;
    height: 14px !important;
    background-size: 100% 100% !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='navy' stroke-width='2' stroke-linecap='round' d='M2 2h26M2 10h26M2 18h26'/%3E%3C/svg%3E") !important;
  }


  #pc_form
  {
    display: none !important;
  }

}

@media (max-width: 1200px) 
{
  nav
  {
    width: 100%;
    border-radius: 0;
  };

  .navbar .form-control {
    font-size: 14px;
  }

  .bv
  {
    align-items: start !important;
    justify-content: start;
    padding: 0;
    width: 70%;
  }

  #phone_form
  {
    display: flex;
    flex-direction: row;
    margin: O;
    padding: 1%;
    /* background: #000; */

    button
    {
      background: #000;
    }
  }
}


.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: crimson;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}
