.produit_adm_box {
  padding: 2rem 5rem;
  text-align: center;

  .v_plus {
    border-bottom: solid 1px;
    text-decoration: none;
    padding: 0.5%;
    color: navy;
    font-weight: bold;
  }

  .produit {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    .pdt {
      position: relative; /* pour le halo */
      overflow: hidden;
      /* background: rgba(209, 208, 208, 0.384); */
      border-radius: 15px;
      text-align: center;
      padding: 5%;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: solid 2px rgba(209, 208, 208, 0.384);
      transition: transform 0.2s ease, box-shadow 0.2s ease;

       /* Effet halo qui suit la souris */
      &::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        pointer-events: none;
        transition: width 0.3s ease, height 0.3s ease;
      }

      &:hover::before {
        width: 300px;
        height: 300px;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      img {
        width: 100%;
        border-radius: 10px;
        background: rgba(230, 230, 250, 0.274);
      }

      .zone_info {
        display: flex;
        flex-direction: column;
        padding: 4%;
        border-radius: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: x-small;

        .prix {
          text-decoration: line-through;
          margin: 0 5px;
          color: red;
        }

        .statut {
          font-weight: bold;
          color: navy;
          font-size: x-small;
        }

        .btn_box {
          display: flex;
          gap: 7%;

          button {
            background: none;
            color: white;
            font-weight: bold;
            border: none;
            font-size: large;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;

            &.edit {
              background: rgba(0, 128, 0, 0.185);
              color: yellowgreen;

              &:hover {
                background-color: rgba(0, 128, 0, 0.3);
                color: darkgreen;
              }
            }

            &.delete {
              background-color: rgba(255, 0, 0, 0.13);
              color: red;

              &:hover {
                background-color: rgba(255, 0, 0, 0.3);
                color: darkred;
              }
            }
          }
        }

        .c-btn {
          border-radius: 50%;
        }
      }
    }
  }

  /* // Responsive tablette */
  @media (max-width: 992px) {
    .produit {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* // Responsive mobile */
  @media (max-width: 576px) {
    padding: 1rem;

    .produit {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* // Très petits écrans */
  @media (max-width: 400px) {
    .produit {
      grid-template-columns: 1fr;
    }
  }
}
h5 {
  font-family: monospace;
}