.service-box {
  color: black;
  transition: transform 0.3s ease;
  background: white;
  text-align: left;
  align-items: start;


  h5
  {
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .link
  {
    text-decoration: none;
    color: navy;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      color: blue;
    }
  }
}
.service-box:hover {
  transform: translateY(-5px);
}


.icon
{
  background: rgba(0, 0, 255, 0.089);
  color: navy;
  padding: 5%;
  border-radius: 50%;
}

/* .bg-electric {
  background-color: #003366;
}

.bg-solar {
  background-color: #f9a825;
}

.bg-design {
  background-color: #6a1b9a;
}

.bg-vente {
  background-color: #2e7d32;
} */
