.log_page {
  background: whitesmoke;
  background-image: url("../../assets/images//fond/v1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  overflow: scroll;

  img {
    width: 150px;
    /* height: 250px; */
  }
}


.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 1rem;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-radius: 50px;
  outline: none;

  &:focus {
    border-color: navy;
    background: rgba(139, 139, 209, 0.24);
  }
}

.auth-container button {
  width: 100%;
  padding: 7px;
  background-color: goldenrod;
  background: navy;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transform: all 0.5s ease;
  border-radius: 50px;


  &:hover {
    background-color: rgb(4, 4, 160);
  }
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.noaccount {
  color: white;
}

.text-link {
  color: rgb(111, 111, 233);
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.text-link:hover {
  text-decoration: none;
}

small {
  display: block;
  margin-top: 5px;
  font-weight: bolder;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  float: left;
}



@media (max-width: 576px) {
  .log_page {
    padding-top: 3rem;
    background-image: url("../../assets/images//fond/fm.jpg");

    img {
      width: 100px;
    }

  }
}



.login-back-icon {
  font-size: 1.6rem;
  color: white;
  background: #e2e8f049;
  border: solid 2px white;
  padding: 1.5%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 1rem;
  transition:
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    background 0.3s ease,
    border-color 0.3s ease;
}

.login-back-icon:hover {
  background: #e2e8f0aa;
  border-color: rgba(255, 255, 255, 0.9);
}